@use 'apps/studyum/src/styles';

:host {
  user-select: none;
}

.date-block {
  position: sticky;
  top: 0;

  z-index: 3;

  background-color: styles.$backgroundColor;
}

app-base-journal-date-item {

}

section {
  display: flex;
  flex-flow: column;

  align-items: center;

  gap: 16px;
  margin-top: 8px;
}

.focused {
  box-shadow: 0 0 0 4px styles.$secondaryColor;
  border-radius: 15px;
}

app-dialog-frame {
  position: absolute;
  z-index: 10;
}

.date-popup {
  margin-top: 7px;
}

app-lesson-info {
  position: absolute;
  z-index: 10;
}
