<div class="date-block">
  <app-base-journal-date-item
    [appPopup]="popper"
    [show]="selectedDate === date.startDate && editable"
    [lesson]="date"
    (click)="onDateClick()"
  ></app-base-journal-date-item>

  <popper-content #popper>
    <app-lesson-addition-data
      (close)="selectedDate = null"
      [lesson]="date"
      [types]="studyPlace.lessonTypes"
    ></app-lesson-addition-data>
  </popper-content>
</div>

<section>
  <div *ngFor="let lesson of lessons">
    <app-base-journal-cell
      [appPopup]="popper"
      [show]="isLastSelected(lesson.point!!) && !shiftPressed && !controlPressed"
      [ngClass]="{focused: isSelected(lesson.point!!)}"
      [entries]="entries(lesson)"
      [color]="lessonColor(lesson)"
      [showPopup]="!isLastSelected(lesson.point!!)"
      (click)="onCellClick(lesson)"
    ></app-base-journal-cell>

    <popper-content #popper>
      <app-lesson-info
        *ngIf="isLastSelected(lesson.point!!) && !shiftPressed && !controlPressed && !editable && !!lesson.id && openMarkPopup()"
        (close)="clearSelectedPoints()"
        [lesson]="lesson"
      ></app-lesson-info>
      <app-select-mark
        *ngIf="isLastSelected(lesson.point!!) && !shiftPressed && !controlPressed && editable"
        (close)="clearSelectedPoints()"
        [lesson]="lesson"
        [marks]="marks"
        [absenceMark]="studyPlace.absenceMark"
        [standaloneMarks]="standaloneMarks"
        [showAllMarks]="true"
        [showStandaloneMarks]="true"
        [showAbsence]="true"
      ></app-select-mark>
    </popper-content>
  </div>
</section>
