<div class="date-block">
  <app-base-journal-date-item
    [appPopup]="popper"
    [show]="dateSelected && editable"
    [lesson]="date"
    (click)="onDateClick()"
  ></app-base-journal-date-item>

  <popper-content #popper>
    <ng-container
      *ngIf="dateSelected && editable && !isPopupOpen() && openLessonDataPopup()"
      [ngTemplateOutlet]="lessonDataTemplate"
    ></ng-container>
  </popper-content>
</div>

<section>
  <app-journal-column-cell *ngFor="let lesson of lessons" [lesson]="lesson"></app-journal-column-cell>
</section>

<ng-template #lessonDataTemplate>
  <app-lesson-addition-data
    (close)="closeDatePopup()"
    [lesson]="date"
    [types]="studyPlace.lessonTypes"
  ></app-lesson-addition-data>
</ng-template>
