<div class="date-block">
  <app-base-journal-date-item
    [lesson]="date"
    (click)="onDateClick()"
  ></app-base-journal-date-item>
  <app-dialog-frame
    *ngIf="selectedDate === date.startDate"
    class="date-popup"
    (close)="selectedDate = null">
    <app-lesson-addition-data
      [lesson]="date"
      [types]="studyPlace.lessonTypes"
    ></app-lesson-addition-data>
  </app-dialog-frame>
</div>
<section>
  <div *ngFor="let lesson of lessons">
    <app-base-journal-cell
      [ngClass]="{focused: isSelected(lesson.point!!)}"
      [entries]="entries(lesson)"
      [color]="lesson.journalCellColor ?? 'white'"
      (click)="onCellClick(lesson)"
    ></app-base-journal-cell>
    <app-dialog-frame
      *ngIf="lastSelectedPoint != null && lesson.point!!.x === lastSelectedPoint.x && lesson.point!!.y == lastSelectedPoint.y"
      (close)="clearSelectedPoints()">
      <app-select-mark
        [lesson]="lesson"
        [marks]="marks"
        [absenceMark]="studyPlace.absenceMark"
        [standaloneMarks]="standaloneMarks"
        [showAllMarks]="true"
        [showStandaloneMarks]="true"
        [showAbsence]="true"
      ></app-select-mark>
    </app-dialog-frame>
  </div>
</section>
