<div class='minutes-container'>
  <input #timeInput class='form-control' placeholder="{{'journal.view.absenceMinutes' | translate}}"
         (keydown)="$event.code == 'Enter' ? confirm(timeInput.value) : ''"
         [value]='(mark && mark.mark != absenceMark) ? mark.mark : ""'>
  <button type='button' class='btn btn-outline-secondary'
          (click)='mark?.mark == absenceMark ? remove.emit(mark!!.id) : confirm(null)'>
    {{mark?.mark == absenceMark ? '🗑' : absenceMark}}
  </button>
</div>

<button type='button' class='btn btn-outline-secondary confirm-btn'
        (click)='confirm(timeInput.value)'>{{'journal.view.confirm' | translate}}</button>
