@use '../../../../../styles';

:host {
  position: relative;
}

.container {
  background-color: styles.$onBackgroundColor;
  padding: 15px;

  border: solid #505050 5px;
  border-radius: 15px;

  > * {
    width: 165px;

    &:last-child {
      margin-top: 20px;
    }
  }
}


.close-btn {
  position: absolute;
  top: -5px;
  right: -5px;

  color: black;
  background: #f1f1f140;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 10px;
}


