<button class='btn close-btn' type='button' (click)='close.emit()'>X</button>
<div class='container'>
  <div class='minutes-container'>
    <input #timeInput class='form-control' placeholder="{{'journal.view.absentMinutes' | translate}}"
           (keydown)="$event.code == 'Enter' ? confirm(timeInput.value) : ''"
           [value]='(mark && mark.mark != absentMark) ? mark.mark : ""'>
    <button type='button' class='btn btn-outline-secondary'
            (click)='mark?.mark == absentMark ? remove.emit(mark!!.id) : confirm(null)'>
      {{mark?.mark == absentMark ? '🗑' : absentMark}}
    </button>
  </div>

  <button type='button' class='btn btn-outline-secondary'
          (click)='confirm(timeInput.value)'>{{'journal.view.confirm' | translate}}</button>
</div>
