<button class="btn close-btn" type="button" (click)="close.emit()">X</button>
<div class="container">
  <input #timeInput class="form-control" placeholder="{{'journal.view.absentMinutes' | translate}}"
         (keydown)="$event.code == 'Enter' ? minutes.emit(timeInput.value) : ''">
  <button type="button" class="btn btn-outline-secondary"
          (click)="absent.emit()">{{'journal.view.absent' | translate}}</button>

  <div>
    <button type="button" class="btn btn-outline-secondary"
            (click)="minutes.emit(timeInput.value)">{{'journal.view.confirm' | translate}}</button>
    <button type="button" class="btn btn-outline-secondary" (click)="remove.emit()">🗑
    </button>
  </div>
</div>
