<app-base-journal-collapser
  [cells]="dates"
  [active]="cellRef"
  [collapsed]="collapsedRef" />

<ng-template #cellRef let-cell="cell">
  <app-base-journal-date
    *ngIf="showColumn(cell)"
    [date]="cell" />
</ng-template>
<ng-template #collapsedRef let-cell="cell" let-click="click" let-type="type" let-amount="amount">
  <ng-container *ngIf="asLesson(cell) as cell">
    <app-base-journal-date-collapse
      [date]="cell.startDate | moment : displayDate(type)"
      [amount]="amount"
      (click)="click()" />
  </ng-container>
</ng-template>

<section>
  <p *ngIf="mode == 'general'" [innerText]="'journal.view.avg' | translate"></p>
  <p *ngIf="mode == 'absences'" [innerText]="'journal.view.absencesAmount' | translate"></p>
  <p *ngIf="mode == 'absences'" [innerText]="'journal.view.absencesTime' | translate"></p>
  <ng-container *ngIf="mode != 'absences' && showAmount">
    <p *ngFor="let markText of availableMarks();">{{markText}}</p>
  </ng-container>
</section>
