<app-dialog-frame (close)="close.emit()">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <p>{{_lesson.subject}}/{{_lesson.room}}&Tab;{{_lesson.startDate | moment: "LT"}}
      -{{_lesson.endDate | moment: "LT"}}</p>

    <ui-floating-select controlName="type" label="popups.lessonAdditionData.type" [data]="typesName" />
    <ui-floating-input controlName="title" label="popups.lessonAdditionData.title" />
    <ui-floating-textarea controlName="description" label="popups.lessonAdditionData.description" />
    <ui-floating-input controlName="homework" label="popups.lessonAdditionData.homework" />
    
    <button uiButton type="submit"
            [disabled]="!form.valid">{{'user.create.confirm' | translate}}</button>
  </form>
</app-dialog-frame>
