<ng-container>
  <div class="corner">
    <button
      class="btn btn-sm btn-outline-light co="
      [innerText]="showTitle ? '<' : '>'"
      (click)="showTitle = !showTitle"></button>
  </div>
  <ol class="titles">
    <li *ngFor="let row of journal.rows" [innerText]="showTitle ? row.title : ''"></li>
  </ol>
  <div class="date-row">
    <app-journal-month
      *ngFor="let days of journal.dates; let i = index"
      [month]="days"
      [monthLessons]="monthLessons(journal, i)"
    ></app-journal-month>
    <section>
      <p *ngIf="mode == 'general'" [innerText]="'journal.view.avg' | translate"></p>
      <p *ngIf="mode == 'absences'" [innerText]="'journal.view.absencesAmount' | translate"></p>
      <p *ngIf="mode == 'absences'" [innerText]="'journal.view.absencesTime' | translate"></p>
      <ng-container *ngIf="mode != 'absences' && showAmount">
        <p *ngFor="let markText of availableMarks();">{{markText}}</p>
      </ng-container>
    </section>
  </div>
  <main>
    <ng-container *ngFor="let row of journal.rows">
      <app-base-journal-row
        [studyPlace]="journal.info.studyPlace"
        [row]="row"
        [mode]="mode"
        [showAmount]="showAmount" />
    </ng-container>
  </main>
</ng-container>
