<select #selectElement
        class="form-select form-select-sm"
        (change)="selectCollapse(selectElement.value)"
        [value]="selectedCollapseType">
  <option hidden disabled value="null">{{"journal.view.collapse.custom" | translate}}</option>
  <option selected value="smart">{{"journal.view.collapse.smartCollapse" | translate}}</option>
  <option value="month">{{"journal.view.collapse.monthCollapse" | translate}}</option>
  <option value="day">{{"journal.view.collapse.dayCollapse" | translate}}</option>
  <option value="expanded">{{"journal.view.collapse.expanded" | translate}}</option>
</select>

<p>
  {{journalInfo.subject}} /
  {{journalInfo.teacher}} /
  {{journalInfo.group}}
  {{journalInfo.editable ? "" : "(View only)"}}
  {{journalInfo.time | moment: "l&#160;LT"}}
</p>
