:host {
  width: 215px;
}

.bottom-control {
  top: 0;

  position: sticky;
  width: inherit;

  * {
    width: 100%;
  }
}

section {
  overflow-y: scroll;
  height: calc(var(--vh, 1vh) * 100 - 245px);

  margin: 10px 0;

  * {
    margin: 10px auto;
    width: fit-content;
  }
}
