<p>{{lesson!!.subject + ' ' + (lesson!!.startDate | moment: 'L LT')}}</p>

<select class="form-select" id="typeSelect" [(ngModel)]="lesson!!.type">
  <option *ngFor="let type of types" [selected]="lesson.type == type">{{type}}</option>
</select>

<input type="text" class="form-control mark-input" placeholder="{{'journal.view.homework' | translate}}"
       [(ngModel)]="lesson!!.homework">
<input type="text" class="form-control mark-input" placeholder="{{'journal.view.title' | translate}}"
       [(ngModel)]="lesson!!.title">
<textarea type="text" class="form-control mark-input" placeholder="{{'journal.view.description' | translate}}"
          [(ngModel)]="lesson!!.description"></textarea>

<button type="button" class="btn btn-outline-secondary mark-confirm" (click)="confirm()">
  {{'journal.view.confirm' | translate}}
</button>
