@use '../../../../../styles';

* {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  color: black;
}

.mark-input {
  width: 350px;
}

.mark-confirm {
  width: 350px;
}


.mark-button {
  width: 30px;
  height: 30px;

  padding: 0;
  margin: 0;

  display: inline-grid;
  align-items: center;
}
