<div *ngIf="isEditMode" class="edit-container">
  <button (click)="edit.emit()" class="edit-control-button transparent-btn edit-btn"></button>
  <button (click)="delete.emit()" class="edit-control-button transparent-btn remove-btn"></button>
</div>
<ng-container>
  <wrapped-carousel [matTooltip]="lessonTooltip()" [itemHeight]="100">
    <ng-container *ngFor="let lesson of lessons">
      <schedule-lesson
        *carouselItem
        [lesson]="lesson"
        [routing]="instantRouting() || !!(control$ | async)?.pressed"
        [showForeground]="lesson.status === 'general' && !(control$ | async)?.pressed"
      />
    </ng-container>
  </wrapped-carousel>
</ng-container>
