@import '../../../../styles';

:host {
  position: relative;
  display: block;

  background-color: $secondaryBackgroundColor;
  padding: 15px;

  border: solid $secondaryColor 1px;
  border-radius: 16px;
}

button {
  position: absolute;
  top: -10px;
  right: -10px;

  color: $onBackgroundColor;
  background: transparent;
  backdrop-filter: blur(1px);
  font-weight: 600;

  padding: 0;

  width: 25px;
  height: 25px;

  border-radius: 10px;
  border: 1px solid $secondaryColor;

  z-index: 1;
}
