<main>
  <h2 [innerText]="'user.profile.passwordReset' | translate"></h2>
  <app-glassmorphism-frame
    [color]="'rgba(255,255,255,0.2)'"
    [topColor]="'rgb(232,125,138)'"
    [bottomColor]="'rgb(165,217,255)'">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p [innerText]="'user.email.confirmText' | translate"></p>
      <hr>

      <div uiFloatingContainer class="top-group">
        <app-symbol-input #code id="code" amount="6" formControlName="code" />
      </div>

      <hr>

      <ui-floating-input controlName="password" label="user.login.password" />
      <ui-floating-input controlName="passwordConfirm" label="user.login.confirmPassword" />

      <div uiGroupContainer class="bottom-group">
        <button mat-stroked-button color="primary"
                [disabled]="!form.valid">{{'user.login.continue' | translate}}</button>
      </div>
    </form>
  </app-glassmorphism-frame>
</main>
