form {
  width: unset;
}

button[type="submit"] {
  width: 100% !important;
  margin: 0 10px;
}

p {
  margin: 0 10px;
}

hr {
  color: white;
  margin: 10px;
}

.resend-btn {
  color: white;
  padding: 0;
  margin-top: 10px;

  align-self: center;
}

main {
  display: flex;
  flex-flow: column;
}
