<div class="cell"
     [popper]="marksTooltip"
     [popperTrigger]='popperTrigger'
     [popperPlacement]="popperPlacement"
     [popperHideOnClickOutside]="true"
     [popperHideOnScroll]="true"
     [popperDisableStyle]="true"
     (click)="this.parent.showPopup(this, x, y)">
  <div *ngIf="lesson != undefined && lesson.marks != undefined && lesson.marks.length != 0 else emptyCell" class="not-empty-cell">
    <ng-container *ngIf="lesson.marks.length == 1">
      <p>{{lesson.marks[0].mark}}</p>
    </ng-container>
    <ng-container *ngIf="lesson.marks.length > 1">
      <div class="mark2">
        <p>{{lesson.marks[0].mark}}</p>
        <hr>
        <p>{{lesson.marks[1].mark}}</p>
      </div>
    </ng-container>
    <div *ngIf="lesson.marks.length > 2" class="more-circle"></div>
  </div>
</div>

<ng-container *ngIf="selectMarkPopup">
  <app-select-mark
    *ngIf="lesson != undefined"
    [lesson]="lesson"
    [userId]="userId"
    (markAdd)="markAdd.emit($event)"
    (markEdit)="markEdit.emit($event)"
    (markDelete)="markDelete.emit($event)"></app-select-mark>
</ng-container>

<ng-template #emptyCell>
  <div class="empty-cell"></div>
</ng-template>

<popper-content #marksTooltip>
  <div class="markTooltip" *ngIf="lesson != undefined && lesson.marks != undefined && lesson.marks.length != 0">
    <div *ngFor="let mark of lesson!!.marks" class="mark-cell">
      <p>{{mark.mark}}</p>
    </div>
  </div>
</popper-content>
