<div class="schedule-container">
  <div class="empty-corner"></div>
  <div class="markup" *ngIf="scheduleService.isTimeMode else lessonIndexesMarkup">
    <hr *ngFor="let time of schedule.info.times" [style.margin-top.px]="scheduleService.getTimeY(time)">
  </div>
  <ng-template #lessonIndexesMarkup>
    <div class="markup">
      <hr *ngFor="let index of schedule.info.indexes"
          [style.margin-top.px]="scheduleService.getLessonIndexY(index) - 5 * scheduleService.scaleY">
    </div>
  </ng-template>

  <div class="time-container" *ngIf="scheduleService.isTimeMode else lessonIndexes">
    <p *ngFor="let time of schedule.info.times" class="time"
       [style.margin-top.px]="scheduleService.getTimeY(time) - 20">{{time | moment : ('datetime.time' | translate)}}</p>
  </div>
  <ng-template #lessonIndexes>
    <div class="time-container">
      <p *ngFor="let index of schedule.info.indexes" class="time"
         [style.margin-top.px]="scheduleService.getLessonIndexY(index) + 17.5 * scheduleService.scaleY">{{index}}</p>
    </div>
  </ng-template>

  <div class="weekdays-container" *ngIf="schedule.info.startDate.clone() as counter">
    <p *ngFor="let i of days" class="weekday">
      {{counter.add(i > 0 ? 1 : 0, 'days') | moment: "MMM DD dddd"}}
    </p>
  </div>
  <div class="lessons-container">
    <schdl-cell
      *ngFor="let cell of schedule.cells"
      class="cell"
      [schdlCell]="cell"
      [cell]="cell"
      [isEditMode]="isEditMode"
      (delete)="cellAction(cell,true, removeSubject)"
      (edit)="cellAction(cell,false, editLesson)"
    />
  </div>
</div>

<ng-template #selectSubjectTemplate>
  <app-select-subject-dialog
    [lessons]="cell.lessons"
    [multiSelect]="multiSelect" />
</ng-template>

<ng-template #manageSubjectTemplate>
  <app-add-subject-dialog
    *ngIf="!!selectedLesson"
    [lesson]="selectedLesson" />
</ng-template>