@import 'apps/studyum/src/styles';

schdl-lesson {
  width: 180px;
  height: 90px;

  border-radius: 25px;

  display: block;
}

button[type="submit"] {
  margin-top: 15px;
  width: 100%;
}

.form-select {
  max-width: 200px;
}

.top-row {
  display: grid;
  grid-template-columns: 1fr 75px 75px;

  gap: 15px;

  margin-bottom: 15px;

  app-color-input {
    height: 100%;
  }
}

.lesson-block {
  position: relative;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, 1fr);

  padding: 10px;
  border-radius: 35px;

  background-color: $backgroundColor;
}

.label- {
  &start-date {
    grid-column: 1;
    grid-row: 1;

    color: $onBackgroundColor;
  }

  &index {
    grid-column: 1;
    grid-row: 2;

    color: $onBackgroundColor;

    margin: 3px 10px 3px 0;
    border-radius: 5px;

    &.ng-dirty {
      background-color: rgba(255, 144, 144, 0.5);
    }

    &.ng-valid {
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }
  }

  &end-date {
    grid-column: 1;
    grid-row: 3;

    color: $onBackgroundColor;
  }
}

.lesson {
  grid-column: 2;
  grid-row: 1/4;
}

.text-input {
  background-color: transparent;
  border: none;

  font-size: 12px;
}
