<app-dialog-frame>
  <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="studyPlace$ | async as studyPlace">
    <h3>{{'schedule.view.addLesson' | translate}}</h3>

    <div class="top-row">
      <select uiSelect uiSelectSmall formControlName="type">
        <option *ngFor="let type of studyPlace.lessonTypes" [innerText]="type.type"></option>
      </select>

      <app-color-input formControlName="primaryColor" />
      <app-color-input formControlName="secondaryColor" [clearable]="true" />
    </div>

    <div class="lesson-block">
      <input class="text-input label-start-date" type="datetime-local" [min]="currentDate" formControlName="startDate">
      <input class="text-input label-index" formControlName="lessonIndex">
      <input class="text-input label-end-date" type="datetime-local" [min]="currentDate" formControlName="endDate">

      <schdl-lesson class="lesson" [editable]="true" formControlName="lesson" />
    </div>
    <app-error-info [property]="form.get('startDate')!!" />
    <app-error-info [property]="form.get('lessonIndex')!!" />
    <app-error-info [property]="form.get('endDate')!!" />
    <app-error-info [property]="form.get('lesson')!!" />

    <button mat-stroked-button [disabled]="!form.valid" type="submit"
    >{{'schedule.view.add' | translate}}</button>
  </form>
</app-dialog-frame>
