<main>
  <div class="top-block">
    <h2 [innerText]="'user.login.signUp' | translate"></h2>
    <div class="use-code-block" routerLink="code">
      <p class="use-code">{{'user.login.useCode' | translate}}</p>
      <div class="code-block">000000</div>
    </div>
  </div>
  <app-glassmorphism-frame
    [color]="'rgba(255,255,255,0.2)'"
    [topColor]="'rgb(232,125,138)'"
    [bottomColor]="'rgb(165,217,255)'">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ng-container *ngIf="studyPlaces$ | async as studyPlaces">
        <ui-floating-input class="top-group" controlName="name" label="user.login.name" />
        <ui-floating-input controlName="studyPlaceId" label="user.login.studyPlace" [data]="studyPlaces" />
        <ui-floating-select controlName="type" label="user.login.type" [data]="['group', 'teacher']" />
        <ui-floating-input controlName="typeName" label="user.login.typename" />
      </ng-container>

      <div class="input-group bottom-group">
        <button uiButton type="submit"
                [disabled]="!form.valid">{{'user.login.continue' | translate}}</button>
      </div>

      {{form.value | json}}
    </form>
  </app-glassmorphism-frame>
</main>
