<button class="btn close-btn" type="button" (click)="close.emit()">X</button>
<div class="container">
  <p>{{lesson!!.subject + ' ' + (lesson!!.startDate | moment: 'L LT')}}</p>

  <select #typeSelect class="form-select" id="typeSelect">
    <option *ngFor="let type of types" selected>{{type}}</option>
  </select>

  <input type="text" class="form-control mark-input" placeholder="Homework" [(ngModel)]="lesson!!.homework">
  <input type="text" class="form-control mark-input" placeholder="Title" [(ngModel)]="lesson!!.title">
  <textarea type="text" class="form-control mark-input" placeholder="Description"
            [(ngModel)]="lesson!!.description"></textarea>

    <button type="button" class="btn btn-outline-secondary mark-confirm" (click)="confirm()">
      Confirm
    </button>
  </div>
