<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-floating">
    <input id="login" class="form-control" formControlName="login" placeholder="Login">
    <label for="login">{{'user.login.userLogin' | translate}}</label>

    <app-error-info [property]="form.get('login')!!"></app-error-info>
  </div>
  <div class="form-floating">
    <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password">
    <label for="password">{{'user.login.password' | translate}}</label>

    <app-error-info [property]="form.get('password')!!"></app-error-info>
  </div>

  <div class="input-group">
    <button type="submit" class="btn btn-outline-light" [disabled]="!form.valid">{{'user.login.continue' | translate}}</button>
    <button type="button" class="btn btn-light google" (click)="continueViaGoogle()">
      <img src="assets/google-logo.svg" alt="google">
    </button>
  </div>

  <div class="signup">
    <a routerLink="/signup">{{'user.login.signUp' | translate}}</a>
  </div>
</form>

