<app-base-journal-cell
  [appPopup]="popper"
  [show]="isLastSelected && key === 'null'"
  [ngClass]="{focused: isSelected}"
  [entries]="entries"
  [color]="color"
  [showPopup]="!isLastSelected"
  (click)="onCellClick($event)"
></app-base-journal-cell>

<popper-content #popper>
  <ng-container
    *ngIf="isLastSelected && key === 'null' && !editable && !!cell.id && !isPopupOpen() && openLessonInfoPopup()"
    [ngTemplateOutlet]="lessonInfoTemplate"
  ></ng-container>
  <ng-container
    *ngIf="isLastSelected && key === 'null' && editable && !isPopupOpen() && openMarkPopup()"
    [ngTemplateOutlet]="selectMarkTemplate"
  ></ng-container>
</popper-content>

<ng-template #lessonInfoTemplate>
  <ng-container>
    <app-lesson-info
      (close)="clearSelectedPoints()"
      [lessonID]="cell.id ?? ''"
    ></app-lesson-info>
  </ng-container>
</ng-template>

<ng-template #selectMarkTemplate>
  <app-select-mark
    (close)="clearSelectedPoints()"
    [lesson]="cell"
    [marks]="marks"
    [absenceMark]="studyPlace.absenceMark"
    [standaloneMarks]="standaloneMarks"
    [showAllMarks]="true"
    [showStandaloneMarks]="true"
    [showAbsence]="true"
  ></app-select-mark>
</ng-template>
