<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="image-block">
    <img [src]="image" alt="profile image" (click)="imageFile.click()">
    <div class="image-block--selection">
      <input id="picture" class="form-control form-control-sm" formControlName="picture" placeholder="Picture url">
      <button class="btn btn-success btn-sm" (click)="imageFile.click()">{{'user.edit.attach' | translate}}</button>
      <input #imageFile id="profile-upload" type="file" accept="image/*" (input)="changeImage(imageFile.files!![0])">
    </div>
    <app-error-info [property]="form.get('picture')!!"></app-error-info>
  </div>

  <ui-floating-input controlName="login" label="user.edit.login" />
  <ui-floating-input controlName="email" label="user.edit.email" />
  <ui-floating-input type="password" controlName="password" label="user.edit.password" />
  <ui-floating-input type="password" controlName="confirmPassword" label="user.edit.confirmPassword" />

  <button uiButton type="submit" [disabled]="!form.valid">{{'user.edit.continue' | translate}}</button>
</form>
