:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 260px;

  > * {
    width: 100%;

    margin: 10px 0;
  }
}

.image-block {
  $radius: 5px;

  display: grid;
  grid-template-columns: auto 1fr;
  flex-flow: row;

  align-items: center;

  width: 100%;

  img {
    width: 69px;
    aspect-ratio: 1;

    border-radius: $radius 0 0 $radius;
  }

  &--selection {
    display: flex;
    flex-flow: column;

    align-items: center;

    .url-input {
      border-radius: 0 $radius 0 0;
    }

    ui-floating-file-chooser {
      width: 100%;
      border-radius: 0 0 $radius 0;
    }
  }

  app-error-info {
    grid-column: 1/3;
  }
}
