<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="image-block">
    <img [src]="image" alt="profile image">

    <div class="image-block--selection">
      <input id="picture" uiInput class="url-input" formControlName="picture" placeholder="Picture url">
      <ui-floating-file-chooser label="user.edit.attach" accept="image/*" (input)="changeImage($event)" />
    </div>

    <app-error-info [property]="form.get('picture')!!" pattern="Unsupported url type (png, jpg, gif)"></app-error-info>
  </div>

  <ui-floating-input controlName="login" label="user.edit.login" />
  <ui-floating-input controlName="email" label="user.edit.email" />
  <ui-floating-input type="password" controlName="password" label="user.edit.password" />
  <ui-floating-input type="password" controlName="confirmPassword" label="user.edit.confirmPassword" />

  <button uiButtonSuccess type="submit" [disabled]="!form.valid">{{'user.edit.continue' | translate}}</button>
</form>
