<div class="cell">
  <div *ngIf="entries.length > 0 else emptyCell"
       class="not-empty-cell" [ngStyle]='{"backgroundColor": color}'>
    <ng-container *ngIf="entries.length == 1">
      <p>{{entries[0].title}}</p>
    </ng-container>
    <ng-container *ngIf="entries.length > 1">
      <div class="mark2">
        <p>{{entries[0].title}}</p>
        <hr>
        <p>{{entries[1].title}}</p>
      </div>
    </ng-container>
    <div *ngIf="entries.length > 2" class="more-circle"></div>
  </div>
</div>

<ng-template #emptyCell>
  <div class="empty-cell"></div>
</ng-template>

<!--
<popper-content #marksTooltip>
  <div class='markTooltip' *ngIf='lesson != undefined && lesson.marks != undefined && lesson.marks.length != 0'>
    <div *ngFor='let mark of lesson!!.marks' class='mark-base-journal-cell'>
      <p>{{mark?.mark}}</p>
    </div>
  </div>
</popper-content>
-->
