:host {
  position: relative;
  display: grid;
  place-items: center;

  width: 50px;
  height: 75px;
  padding-top: 10px;
  padding-bottom: 18px;
}

p {
  text-align: center;
}

app-more-indicator {
  right: -5px;
  top: 0;
}
