<div *ngIf="schedule$ | async as schedule" class="wrapper">
  <main>
    <app-edit-schedule *ngIf="isEditMode" [schedule]="schedule"></app-edit-schedule>
    <div class="schedule-wrapper">
      <div class="schedule-container" [style.height.px]="maxHeight">
        <div class="empty-corner"></div>
        <div class="markup">
          <hr *ngFor="let time of schedule.info.times" [style.top.px]="scheduleService.getTimeY(time)">
        </div>
        <div class="time-container">
          <p *ngFor="let time of schedule.info.times" class="time"
             [style.top.px]="scheduleService.getTimeY(time) - 20">{{time | moment : "hh:mm A"}}</p>
        </div>
        <div class="weekdays-container">
          <p *ngFor="let i of days" class="weekday">{{weekDays[i % 7]}}</p>
        </div>
        <div class="lessons-container">
          <app-schedule-cell
            *ngFor="let cell of schedule.cells"
            [appScheduleCell]="cell"
            class="cell"
            [cell]="cell"
            [isEditMode]="isEditMode"></app-schedule-cell>
        </div>
      </div>
    </div>
  </main>

  <app-schedule-bottom-controller
    [user]="userService.user$ | async"
    [minScale]="scheduleService.minYScale"
    [maxScale]="scheduleService.maxYScale"
    [preferredMaxScale]="scheduleService.preferredMaxYSScale"
    (editMode)="isEditMode = $event"
    (makeGeneral)="makeGeneral()"
    (scale)="scheduleService.scaleY = $event"
  ></app-schedule-bottom-controller>
</div>

