<div *ngIf="schedule$ | async as schedule">
  <main>
    <app-edit-schedule *ngIf="isEditMode" [schedule]="schedule"></app-edit-schedule>
    <div class="schedule-wrapper">
      <div class="schedule-container" [style.height.px]="maxHeight">
        <div class="markup">
          <hr *ngFor="let time of schedule.info.times" [style.top.px]="scheduleService.getTimeY(time)">
        </div>
        <div class="time-container">
          <p *ngFor="let time of schedule.info.times" class="time"
             [style.top.px]="scheduleService.getTimeY(time) - 20">{{time | moment : "hh:mm A"}}</p>
        </div>
        <div>
          <div class="weekdays-container">
            <p *ngFor="let i of days" class="weekday">{{weekDays[i % 7]}}</p>
          </div>
          <div class="lessons-container">
            <app-schedule-cell
              *ngFor="let cell of cells"
              [appScheduleCell]="cell"
              class="cell"
              [cell]="cell"
              [isEditMode]="isEditMode"></app-schedule-cell>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="bottom-control">
    <button class="btn btn-outline-light" (click)="this.scheduleService.scaleY = this.scheduleService.maxYScale">Max scale</button>
    <button class="btn btn-outline-light" (click)="this.scheduleService.scaleY = this.scheduleService.minYScale">Min scale</button>
  </div>
  <ng-container *ngIf="userService.user$ | async as user">
    <div class="bottom-control" *ngIf="canEdit(user)">
      <button class="btn btn-outline-light" (click)="isEditMode = !isEditMode">Edit</button>
      <button class="btn btn-outline-light" (click)="makeGeneral()">Make general</button>
    </div>
  </ng-container>
</div>

