<app-action-buttons
  [buttons]="getLessonTypes()"
  [selectedText]="'journal.view.back' | translate"
  [selectedButton]="selectedType"
  (action)="select($event)"
></app-action-buttons>
<button
  [uiToggleButton]="isAbsencesSelected"
  [text]="'journal.view.absences' | translate"
  [selectedText]="'journal.view.back' | translate"
  (click)="toggleAbsence()"
></button>
<button
  [uiToggleButton]="isShowAmount"
  [text]="'journal.view.showAmount' | translate"
  [selectedText]="'journal.view.hideAmount' | translate"
  (click)="toggleAmount.emit()"
></button>
