<ng-container *ngIf="journalService.options$ | async as options">
  <div class="generate-container">
    <h2 [innerText]="'journal.select.generate' | translate"></h2>
    <button uiButton (click)="generateMarks()"
            [innerText]="'journal.select.generateMarks' | translate"></button>
    <button uiButton (click)="generateAbsences()"
            [innerText]="'journal.select.generateAbsences' | translate"></button>
  </div>

  <div>
    <h2 [innerText]="'journal.select.select' | translate"></h2>
    <div class="select-parent">
      <div *ngFor="let option of options" (click)="selectOption(option)" class="select-container">
        <h3>{{option.subject}}</h3>
        <p>{{option.group}}</p>
        <p>{{option.teacher}}</p>
        <ng-container *ngIf="!option.editable">(View only)</ng-container>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #generateMarksTemplate>
  <app-generate-marks-report></app-generate-marks-report>
</ng-template>

<ng-template #generateAbsencesTemplate>
  <app-generate-absences-report></app-generate-absences-report>
</ng-template>
