<ng-container *ngFor="let cell of _cells">
  <ng-container [ngSwitch]="true">
    <ng-container
      *ngSwitchCase="!isArray(cell)"
      [ngTemplateOutlet]="active"
      [ngTemplateOutletContext]="{cell: cell, click: click(cell)}" />
    <ng-container *ngSwitchCase="isArray(cell) && isCollapsed(cell)">
      <ng-container
        *ngIf="collapsedCell(cell) as cCell"
        [ngTemplateOutlet]="collapsed"
        [ngTemplateOutletContext]="{cell: cCell, click: click(cCell), type: collapsedType(), amount: collapsedAmount(cell)}" />
    </ng-container>
    <ng-container *ngSwitchDefault>
      <app-base-journal-collapser
        [cells]="toArray(cell)"
        [active]="active"
        [collapsed]="collapsed"
        [index]="index+1" />
    </ng-container>
  </ng-container>
</ng-container>

