@use '../../../../styles';

.date {
  vertical-align: bottom;
  text-align: center;
  display: grid;
  color: styles.$onBackgroundColor;
}

.number {
  color: styles.$onBackgroundColor;
}


.name {
  color: styles.$onBackgroundColor;
}

.focused {
  outline: solid styles.$secondaryColor 4px;
  border-radius: 15px;
}
