@use '../../../../styles';

:host {
  display: flex;
  flex-flow: column;
}

table {
  display: block;

  border-spacing: 15px;
  border-collapse: separate;

  overflow: auto;
  flex-grow: 1;
}

.date {
  vertical-align: bottom;
  text-align: center;
  display: grid;
  color: styles.$onBackgroundColor;
}

.date-row {
  position: sticky;
  top: 0;

  z-index: 10;

  background: styles.$backgroundColor;
}

.row-title-cell {
  position: sticky;
  left: 0;

  background: styles.$backgroundColor;
}

.row-title {
  color: styles.$onBackgroundColor;
}

.focused {
  outline: solid styles.$secondaryColor 4px;
  border-radius: 15px;
}

td {
  position: relative;
}

app-select-mark {
  position: absolute;

  top: 56px;
  right: 0;

  z-index: 10;
}
