<header>
  <ng-container class="container" *ngIf="userService.user$ | async as user else notLoginHeader">
    <div class="action">
      <a routerLink="">
        <img src="assets/home.svg" alt="home">
      </a>

      <a routerLink="schedule">
        <img src="assets/schedule.svg" alt="schedule">
        <p>{{'header.schedule' | translate}}</p>
      </a>
      <a routerLink="schedule/login">
        <img src="assets/search-schedule.svg" alt="schedule search">
        <p>{{'header.findSchedule' | translate}}</p>
      </a>
      <a routerLink="journal">
        <img src="assets/journal.svg" alt="journal">
        <p>{{'header.journal' | translate}}</p>
      </a>
    </div>

    <a routerLink="user" class="header-user">
      <p>{{user.login}}</p>
      <img [src]="user.picture" referrerpolicy="no-referrer" alt="profile">
    </a>
  </ng-container>
</header>
<router-outlet></router-outlet>

<ng-template #notLoginHeader>
  <div class="action">
    <a routerLink="">
      <img src="assets/home.svg" alt="home">
    </a>

    <a routerLink="schedule/login">
      <img src="assets/search-schedule.svg" alt="schedule search">
      <p>{{'header.schedule' | translate}}</p>
    </a>
  </div>
  <p class="header-name">Studyum</p>
  <div>
    <button type="button" class="btn btn-outline-light" routerLink="login">{{'header.login' | translate}}</button>
    <button type="button" class="btn btn-outline-light signup-header-btn"
            routerLink="signup">{{'header.signUp' | translate}}</button>
  </div>
</ng-template>
