@use '../styles';

app-header {
  height: 50px;
  z-index: 999;
}

app-toast {
  position: absolute;
  right: 0;
  margin: 10px;
  z-index: 1000;
}

div {
  position: absolute;
  right: 0;
  z-index: 2000;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding: 10px;
  color: white;
  background-color: styles.$backgroundColor;
}