@import "@angular/material";
@import "@angular/material/theming";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@include core();

$theme-ignore-duplication-warnings: true;

@mixin mix-app-theme($theme) {
  @include all-component-themes($theme);

  $primary-button-contrast: mat-contrast(map-get($theme, primary), 500);
  $accent-button-contrast: mat-contrast(map-get($theme, accent), 500);

  .mat-button-toggle-group {
    border-color: #fff !important;
  }

  .mat-button-toggle {
    background-color: unset;
    border-color: #fff !important;
    color: rgba(255, 255, 255, 0.88);
  }

  .mat-button-toggle-checked {
    background-color: #fff;
    border-color: #fff !important;
    color: rgba(0, 0, 0, 0.88) !important;
  }

  .mat-mdc-unelevated-button.mat-primary {
    --mdc-filled-button-label-text-color: #{$primary-button-contrast};
  }

  .mat-mdc-unelevated-button.mat-accent {
    --mdc-filled-button-label-text-color: #{$accent-button-contrast};
  }

  .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-label-text-color: #{$primary-button-contrast};
  }

  .mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-label-text-color: #{$accent-button-contrast};
  }
}

.light {
  @import "light";
  @include mix-app-theme($theme);
}

.dark {
  @import "dark";
  @include mix-app-theme($theme);
}

//TODO enable {p margin set to 0}
//@include theming.angular-material-typography($config);
