@import "themes";
@import "indents";

:host {
  position: relative;
  overflow: scroll;
  display: grid;
  grid-column-gap: $indent2;
  grid-row-gap: $indent3;
  width: 100%;
  height: 100%;
  margin: $indent2 0 0 $indent2;
  flex-grow: 1;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  @include theme {
    background: $primaryBackgroundColor;
    color: $onPrimaryBackgroundColor;
  }
}

.empty-corner {
  position: sticky;
  top: 0;
  left: 0;
  background: inherit;
  grid-column: 1;
  grid-row: 1;
  z-index: 4;
}

.titles-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  left: 0;
  grid-column: 1;
  grid-row: 2;
  gap: $indent2;
  background: inherit;
  white-space: nowrap;
  z-index: 3;

  & > * {
    display: flex;
    align-items: center;
    height: 55px;
  }
}

.dates-container {
  display: flex;
  position: sticky;
  grid-column: 2;
  grid-row: 1;
  height: 30px;
  top: 0;
  background: inherit;
  gap: $indent2;
  z-index: 3;

  & > * {
    width: 55px;
    height: 100%;
  }
}

.cells-container {
  display: flex;
  flex-direction: column;
  gap: $indent2;
  position: relative;
  height: 100%;
  grid-column: 2;
  grid-row: 2;
  z-index: 2;

  .row {
    display: flex;
    gap: $indent2;

    & > * {
      width: 55px;
      height: 55px;
    }
  }
}
