<div class="empty-corner"></div>
<div class="dates-container">
  @for (date of journal.dates; track date) {
    <journal-date-cell [cell]="date" />
  }
</div>
<div class="titles-container">
  @for (row of journal.rows; track row) {
    <p1 [key]="row.title" />
  }
</div>
<div class="cells-container">
  @for (row of journal.rows; track row) {
    <div class="row">
      @for (cell of row.cells; track cell) {
        <journal-cell
          elementRef
          #cellRef="elementRef"
          [entries]="entries(cell)"
          (click)="openAddMarkDialog(journal, cell, row, cellRef.el)"
        />
      }
    </div>
  }
</div>
