app-select-buttons, app-absence-control {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;

  margin: 15px 0 0 0;
}

app-absence-control {
  grid-template-columns: 3fr 1fr;
}

input {
  width: 120px;
}

button {
  margin-top: 15px;
  width: 120px;
}
