<ng-container class="main-container" *ngIf="user$ | async as user else elseBlock">
  <div class="profile-container">
    <div class="profile-card">
      <div>
        <img [src]="user.picture" referrerpolicy="no-referrer" alt="profile" width="48" height="48">
        <h3>{{user.login}}</h3>
      </div>
      <hr>
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.studyPlace}}</p>
      <p>{{user.typeName}}</p>
    </div>
    <button class="btn btn-warning" (click)="signOut()">{{'user.profile.signOut' | translate}}</button>
    <button class="btn btn-danger" (click)="revoke()">{{'user.profile.revokeToken' | translate}}</button>
  </div>
  <section>
    <app-profile-option title="user.info.info" [opened]="true">
      <app-user-info></app-user-info>
    </app-profile-option>
    <app-profile-option title="user.accept.acceptUsers" *ngIf="hasPermission(user, 'manageUsers')">
      <app-accept-users></app-accept-users>
    </app-profile-option>
    <app-profile-option title="user.edit.edit">
      <app-edit-user></app-edit-user>
    </app-profile-option>
    <app-profile-option title="user.create.createUsers" *ngIf="hasPermission(user, 'manageUsers')">
      <app-create-code-user></app-create-code-user>
    </app-profile-option>
  </section>
  <div></div>
</ng-container>

<ng-template #elseBlock>No user</ng-template>
