@use "../../../../styles";

:host {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 570px) {
  :host {
    justify-content: center;
    flex-wrap: wrap;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;

  margin: 15px 75px;
  min-width: 310px;

  background: styles.$secondaryBackgroundColor;
  border-radius: 25px;
}
