<ui-default-form title="user.login.signUp" [formGroup]="form" (submit)="submit()" showSocial>
  <ui-floating-input class="top-group" controlName="login" label="user.login.userLogin" />

  <hr>

  <ui-floating-input controlName="email" label="user.login.email" />
  <ui-floating-input type="password" controlName="password" label="user.login.password" />
  <ui-floating-input type="password" controlName="passwordConfirm" label="user.login.confirmPassword" />

  <hr>

  <ui-floating-input controlName="code" label="user.login.code" />
</ui-default-form>