@import "assets/scss/material";

@import "libs/common/ui-elements/src/lib/assets/styles/controls";
@import "libs/common/ui-elements/src/lib/assets/styles/general";
@import "libs/common/ui-elements/src/lib/assets/styles/dialog";
@import "libs/common/ui-elements/src/lib/assets/styles/buttons";
@import "libs/common/ui-elements/src/lib/assets/styles/form-controls";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);
$thirdColor: var(--thirdColor);
$backgroundColor: var(--backgroundColor);
$secondaryBackgroundColor: var(--secondaryBackgroundColor);
$onBackgroundColor: var(--onBackgroundColor);
$onSecondaryBackgroundColor: var(--onSecondaryBackgroundColor);
$onPrimaryColor: var(--onPrimaryColor);
$onSecondaryColor: var(--onSecondaryColor);
$boxShadow: var(--box-shadow);


$dangerColor: #FF5252;

.dark {
  --backgroundColor: #262E3F;
  --secondaryBackgroundColor: #3B4252;
  --primaryColor: #7289DA;
  --secondaryColor: #FF9900;
  --onBackgroundColor: #F0F0F0;
  --onPrimaryColor: #F0F0F0;
  --onSecondaryColor: #F0F0F0;
  --onSecondaryBackgroundColor: #F0F0F0;

  --thirdColor: #CC88FF;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

.light {
  --backgroundColor: #F0F0F0;
  --secondaryBackgroundColor: #FFFFFF;
  --primaryColor: #5866B2;
  --secondaryColor: #FF9900;
  --onBackgroundColor: #262E3F;
  --onPrimaryColor: #262E3F;
  --onSecondaryColor: #262E3F;
  --onSecondaryBackgroundColor: #262E3F;

  --thirdColor: #CC88FF;
  --box-shadow: 0px 4px 6px rgba(38, 46, 63, 0.1), 0px 1px 3px rgba(38, 46, 63, 0.08);
}


body {
  background: var(--backgroundColor);
}

h1, h2, h3, h4, h5, h6, span, p, li {
  color: $onBackgroundColor;
}

app-root {
  display: flex;
  flex-flow: column;
  gap: 10px;
  height: 100%;
  background: inherit;

  router-outlet {
    display: none;
  }

  > :last-child {
    flex-grow: 1;
    overflow: auto;

    background: inherit;
  }
}

p {
  margin: 0;
}

a {
  color: $onBackgroundColor;
  cursor: pointer !important;
  text-decoration: none !important;
}

a:hover, a:focus {
  color: $onBackgroundColor;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
