@use "assets/scss/buttons";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);
$thirdColor: var(--thirdColor);
$backgroundColor: var(--backgroundColor);
$secondaryBackgroundColor: var(--secondaryBackgroundColor);
$onBackgroundColor: var(--onBackgroundColor);
$onSecondaryBackgroundColor: var(--onSecondaryBackgroundColor);
$onPrimaryColor: var(--onPrimaryColor);
$onSecondaryColor: var(--onSecondaryColor);

$dangerColor: #FF5517;

.dark {
  --primaryColor: #0A3E26;
  --secondaryColor: #F1F1F1;
  --onPrimaryColor: #EFEFEF;
  --onSecondaryColor: #3A3A3A;
  --thirdColor: #CC88FF;
  --backgroundColor: #264653;
  --secondaryBackgroundColor: #4A4A4A;
  --onBackgroundColor: #E1E1E1;
  --onSecondaryBackgroundColor: #EFEFEF;

  --backgroundColorGradient: linear-gradient(90deg, #264653 0%, #1E404E 100%);
}

.light {
  --primaryColor: #0A3E26;
  --secondaryColor: #F1F1F1;
  --onPrimaryColor: #EFEFEF;
  --onSecondaryColor: #3A3A3A;
  --thirdColor: #CC88FF;
  --backgroundColor: #CFCFCF;
  --secondaryBackgroundColor: #4A4A4A;
  --onBackgroundColor: #4A4A4A;
  --onSecondaryBackgroundColor: #EFEFEF;

  --backgroundColorGradient: linear-gradient(90deg, #CFCFCF 0%, #BEBEBE 100%);
}

html, body {
  height: 100%;
}

body {
  background: var(--backgroundColorGradient);
  font-family: 'Roboto', sans-serif;
}

p, li {
  color: $onBackgroundColor;
}

app-root {
  display: flex;
  flex-flow: column;
  gap: 10px;
  height: 100%;
  background: inherit;

  router-outlet {
    display: none;
  }

  > :last-child {
    flex-grow: 1;
    overflow: auto;

    background: inherit;
  }
}

p {
  margin: 0;
}

a {
  color: $onBackgroundColor;
  cursor: pointer !important;
  text-decoration: none !important;
}

a:hover, a:focus {
  color: $onBackgroundColor;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.modal {
  display: flex !important;
  justify-content: center;

  &-dialog {
    width: fit-content;
  }

  &-content {
    background-color: unset;
  }
}
