<div class="actions">
  <button
    [uiToggleButton]="isEditMode" uiButtonSmall
    [text]="'schedule.view.edit' | translate"
    (click)="toggleEdit()"></button>

  <button
    uiButton uiButtonSmall (click)="changeScaleMode()"
  >{{'schedule.view.scale' | translate}}</button>

  <button
    [uiToggleButton]="isGeneralMode" uiButtonSmall
    [text]="'schedule.view.general' | translate"
    [selectedText]="'schedule.view.actual' | translate"
    (click)="toggleViewMode()"></button>

  <button
    [uiToggleButton]="!isTimeMode" uiButtonSmall
    [text]="'schedule.view.lessonIndex' | translate"
    [selectedText]="'schedule.view.time' | translate"
    (click)="toggleTime()"></button>

  <button
    [uiToggleButton]="isSearchMode" uiButtonSmall
    [text]="'schedule.view.search' | translate"
    (click)="toggleSearch()"></button>
</div>

<ng-container *ngIf="isSearchMode">
  <form [formGroup]="findForm" class="search" *ngIf="studyPlaces$ | async as studyPlaces" (submit)="submitFind()">
    <div uiGroupContainer uiGroupContainerSmall>
      <input
        *ngrxLet="studyPlace$ as studyPlace"
        #studyPlaceInput
        uiInput
        list="studyPlaces"
        [value]="studyPlace?.name ?? ''"
        [placeholder]="'schedule.find.studyPlace' | translate"
        (change)="changeStudyPlace(studyPlaces, studyPlaceInput)">
    </div>
    <datalist id="studyPlaces">
      <option *ngFor="let studyPlace of studyPlaces" [value]="studyPlace.name"></option>
    </datalist>

    <div uiGroupContainer uiGroupContainerSmall *ngIf="findItems$ | async as items">
      <select #itemTypeSelect uiSelect formControlName="type">
        <option value="group">{{'schedule.find.group' | translate}}</option>
        <option value="teacher">{{'schedule.find.teacher' | translate}}</option>
        <option value="subject">{{'schedule.find.subject' | translate}}</option>
        <option value="room">{{'schedule.find.room' | translate}}</option>
      </select>
      <input
        uiInput
        list="items-list"
        formControlName="name"
        [placeholder]="'schedule.find.name' | translate">
      <datalist id="items-list">
        <option *ngFor="let item of items[itemTypeSelect.value + 's'] ?? []">{{item}}</option>
      </datalist>
      <button uiButtonSuccess type="submit"></button>
    </div>
  </form>
</ng-container>
