<div class="actions">
  <button
    uiButton uiButtonSmall (click)="changeEditMode()"
    *ngIf="canEdit(user)"
  >{{'schedule.view.edit' | translate}}</button>

  <button
    uiButton uiButtonSmall (click)="changeScaleMode()"
  >{{'schedule.view.scale' | translate}}</button>

  <button
    *ngIf="isEditGeneral else actualMode"
    uiButton uiButtonSmall (click)="changeViewMode()"
  >{{'schedule.view.actual' | translate}}</button>

  <ng-template #actualMode>
    <button
      uiButton uiButtonSmall (click)="changeViewMode()"
    >{{'schedule.view.general' | translate}}</button>
  </ng-template>

  <button
    *ngIf="isTimeMode else lessonIndexMode"
    class="btn btn-outline-light btn-sm" (click)="changeTimeMode()"
  >{{'schedule.view.lessonIndex' | translate}}</button>

  <ng-template #lessonIndexMode>
    <button
      uiButton uiButtonSmall (click)="changeTimeMode()"
    >{{'schedule.view.time' | translate}}</button>
  </ng-template>

  <button
    *ngIf="!isSearchMode else searchMode"
    uiButton uiButtonSmall (click)="toggleSearch()"
  >{{'schedule.view.search' | translate}}</button>

  <ng-template #searchMode>
    <button
      uiButton uiButtonSmall (click)="toggleSearch()"
    >{{'schedule.view.search' | translate}}</button>
  </ng-template>
</div>

<ng-container *ngIf="isSearchMode">
  <form [formGroup]="findForm" class="search" *ngIf="studyPlaces$ | async as studyPlaces" (submit)="submitFind()">
    <div class="input-group input-group-sm">
      <input
        *ngrxLet="studyPlace$ as studyPlace"
        #studyPlaceInput
        uiInput
        list="studyPlaces"
        [value]="studyPlace?.name ?? ''"
        [placeholder]="'schedule.find.studyPlace' | translate"
        (change)="changeStudyPlace(studyPlaces, studyPlaceInput)">
    </div>
    <datalist id="studyPlaces">
      <option *ngFor="let studyPlace of studyPlaces" [value]="studyPlace.name"></option>
    </datalist>

    <div class="input-group input-group-sm" *ngIf="findItems$ | async as items">
      <select #itemTypeSelect uiSelect formControlName="type">
        <option value="group">{{'schedule.find.group' | translate}}</option>
        <option value="teacher">{{'schedule.find.teacher' | translate}}</option>
        <option value="subject">{{'schedule.find.subject' | translate}}</option>
        <option value="room">{{'schedule.find.room' | translate}}</option>
      </select>
      <input
        uiInput
        list="items-list"
        formControlName="name"
        [placeholder]="'schedule.find.name' | translate">
      <datalist id="items-list">
        <option *ngFor="let item of items[itemTypeSelect.value + 's'] ?? []">{{item}}</option>
      </datalist>
      <button class="btn btn-secondary" type="submit"></button>
    </div>
  </form>
</ng-container>
