<main
  [@enterAnimation]="triggerTitleAnimation"
  [style.width.px]="tempTitleContainer.clientWidth"
  *ngIf="$title | async as title"
>
  <img *ngIf="title !== 'Studyum'" src="assets/home.svg" alt="home" routerLink="">
  <a routerLink="">{{title | translate}}</a>
</main>
<nav>
  <ng-container *ngIf="$user | async as user else notLoggedIn">
    <div class="action">
      <a routerLink="schedule">{{'header.schedule' | translate}}</a>
      <a routerLink="journal">{{'header.journal' | translate}}</a>

      <img src="assets/schedule.svg" alt="schedule" routerLink="schedule">
      <img src="assets/journal.svg" alt="journal" routerLink="journal">
    </div>

    <div>
      <a routerLink="user" class="username">{{user.login}}</a>
      <img [src]="user.picture" referrerpolicy="no-referrer" alt="profile" routerLink="user">
    </div>
  </ng-container>
  <ng-template #notLoggedIn>
    <div class="action">
      <a routerLink="schedule">{{'header.schedule' | translate}}</a>

      <img src="assets/schedule.svg" alt="schedule" routerLink="schedule/login">
    </div>

    <div>
      <button type="button" class="btn btn-outline-light" routerLink="login">{{'header.login' | translate}}</button>
      <button type="button" class="btn btn-outline-light" routerLink="signup">{{'header.signUp' | translate}}</button>
    </div>
  </ng-template>
</nav>


<main #tempTitleContainer class="temp">
  <img *ngIf="tempTitle !== 'Studyum'" src="assets/home.svg" alt="home" routerLink="">
  <a routerLink="">{{tempTitle | translate}}</a>
</main>
