<h4 class="logo-text"><a routerLink="/">Studyum</a></h4>
<h4 class="logo-text logo-text-sm"><a routerLink="/">St</a></h4>
<div class="right-wrapper">
  <nav class="nav-bar">
    <a routerLink="schedule" [innerText]="'header.schedule' | translate"></a>
    <a *ngIf="$user | async" routerLink="journal" [innerText]="'header.journal' | translate"></a>
  </nav>
  <nav class="nav-bar nav-bar-sm">
    <a routerLink="schedule"><img src="assets/schedule.svg" alt="schedule"></a>
    <a *ngIf="$user | async" routerLink="journal"><img src="assets/journal.svg" alt="journal"></a>
  </nav>
  <hr class="block-divider">
  <ng-container *ngIf="$user | async as user else notLogin">
    <a routerLink="profile" class="user-block">
      {{user.login}}
      <img class="profile-image" [src]="user.picture" referrerpolicy="no-referrer" alt="profile" routerLink="profile">
    </a>
    <a routerLink="profile" class="user-block user-block-sm">
      <img class="profile-image" [src]="user.picture" referrerpolicy="no-referrer" alt="profile" routerLink="profile">
    </a>
  </ng-container>
  <ng-template #notLogin>
    <div class="user-block">
      <a class="icon-btn login-btn" routerLink="auth/login">Login <img src="assets/login.svg" alt=""></a>
      <a class="icon-btn signup-btn" routerLink="auth/signup">SignUp <img src="assets/signup.svg" alt=""></a>
    </div>
    <div class="user-block user-block-sm">
      <a class="icon-btn login-btn" routerLink="auth/login"><img src="assets/login.svg" alt=""></a>
      <a class="icon-btn signup-btn" routerLink="auth/signup"><img src="assets/signup.svg" alt=""></a>
    </div>
  </ng-template>
</div>
<hr class="bottom-line">

