@import "../../../../../styles";

:host {
  background: $secondaryBackgroundColor;
  color: $onBackgroundColor;
  margin: 15px;
  padding: 10px;
  border-radius: 15px;

  min-width: 280px;
  height: fit-content;
  overflow: hidden;
}

.indent {
  height: 16px;
}

.expand-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }

  * {
    user-select: none;
  }
}
