<ng-container class="main-container" *ngIf="user$ | async as user">
  <prfl-card [user]="user" (signout)="signOut()" (revoke)="revoke()" />
  <section>
    <app-profile-option title="user.info.info" [opened]="true">
      <app-user-info></app-user-info>
    </app-profile-option>
    <app-profile-option title="user.accept.acceptUsers" *ngIf="hasPermission(user, 'manageUsers')">
      <app-accept-users></app-accept-users>
    </app-profile-option>
    <app-profile-option title="user.edit.edit">
      <app-edit-user></app-edit-user>
    </app-profile-option>
    <app-profile-option title="user.create.createUsers" *ngIf="hasPermission(user, 'manageUsers')">
      <app-create-code-user></app-create-code-user>
    </app-profile-option>
  </section>
  <div></div>
</ng-container>
