<mat-button-toggle-group>
  <mat-button-toggle
    *ngFor="let type of getLessonTypes()"
    [checked]="isLessonTypeSelected(type)"
    (change)="select(type)">
    {{type.type}}
  </mat-button-toggle>
</mat-button-toggle-group>

<mat-button-toggle-group multiple>
  <mat-button-toggle (change)="toggleAmount.emit()">{{'journal.view.showAmount' | translate}}</mat-button-toggle>
  <!--  TODO avg/total-->
</mat-button-toggle-group>

<mat-button-toggle (change)="toggleAbsence()">{{'journal.view.absences' | translate}}</mat-button-toggle>
