@import 'apps/studyum/src/styles';

a {
  display: block;
  background-color: $secondaryBackgroundColor;
  box-shadow: $boxShadow;

  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  transition: box-shadow 0.2s;

  position: relative;
  width: 300px;
  height: 200px;

  &:hover {
    img {
      rotate: 0deg;
    }
  }
}

h2 {
  text-align: center;
  color: $onSecondaryBackgroundColor;
}

img {
  position: absolute;
  bottom: 10px;
  right: 15px;
  rotate: -20deg;

  width: 120px;
  height: 120px;

  transition: rotate 0.15s;
}
