@import 'apps/studyum/src/styles';

:host {
  display: grid;
  grid-template-columns: repeat(6, auto);

  background: $backgroundColor;
  border-radius: 15px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $onBackgroundColor;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;

  width: 30px;
  height: 30px;

  p {
    padding: 0;
    margin: 0;
  }
}
