@use "../../../../../../styles";

:host {
  position: relative;

  width: 230px;

  background-color: styles.$backgroundColor;
  border-radius: 25px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);

  padding: 10px;
}

app-dialog-frame {
  position: unset;
  background-color: unset;
  padding: unset;
  border: unset;
  border-radius: unset;
}

h4 {
  color: styles.$onBackgroundColor;
  background: styles.$backgroundColor;
  position: absolute;
  top: -20px;
  left: 0;
  border-radius: 15px 15px 0 0;
  padding: 10px 10px 0 10px;
  width: fit-content;
}

.select-all-btn {
  margin: 10px;
  width: 180px;
}

.btn-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  border-radius: 10px;
}

app-subject-selection {
  margin-top: 15px;
}
