<ng-container *ngIf="modeCalculator$ | async as mode">
  <div class="empty-corner"></div>

  <div class="markup">
    <ng-container *ngFor="let markupEntry of mode.markup">
      <hr [style.margin-top.px]="markupEntry.y" />
    </ng-container>
  </div>

  <div class="row-container">
    <ng-container *ngFor="let row of mode.rows">
      <p1
        class="row"
        [style.margin-top.px]="row.y"
        [style.height.px]="row.height"
        [key]="row.title"
      />
    </ng-container>
  </div>

  <div class="weekdays-container">
    <ng-container
      *ngFor="
        let day of [schedule.info.startDate, schedule.info.endDate] | dateBetween: 'day' : true
      "
    >
      <p1 class="weekday">{{ day | datetime: "MMM dd EEE" }}</p1>
    </ng-container>
  </div>
  <div class="lessons-container">
    <ng-container *ngFor="let lessons of schedule.lessons | groupBy: groupLessonByTime | values">
      <schedule-cell
        scheduleCellPosition
        [modeCalculator]="mode"
        [lessons]="lessons"
        [startTime]="schedule.info.startDate"
      />
    </ng-container>
  </div>
</ng-container>
