<div class="date-block">
  <app-base-journal-date-item
    [appPopup]="popper"
    [show]="dateSelected && editable"
    [lesson]="date"
    (click)="onDateClick()" />

  <popper-content #popper>
    <ng-container
      *ngIf="dateSelected && editable && !isPopupOpen() && openLessonDataPopup()"
      [ngTemplateOutlet]="lessonDataTemplate"
    ></ng-container>
  </popper-content>
</div>

<ng-template #lessonDataTemplate>
  <app-lesson-addition-data
    (close)="closeDatePopup()"
    [lesson]="date"
    [types]="studyPlace.lessonTypes"
  ></app-lesson-addition-data>
</ng-template>
