@use "../../../../../../../../styles";

:host {
  user-select: none;
}

.date-block {
  position: sticky;
  top: 0;

  z-index: 3;

  background-color: styles.$backgroundColor;
}

::ng-deep div[data-popper-placement] {
  app-lesson-info, app-select-mark, app-lesson-addition-data {
    margin-right: 70px;
  }

  &[data-popper-placement="bottom-end"] {
    app-lesson-info, app-select-mark, app-lesson-addition-data {
      transform: translateX(70px);
    }
  }
}

popper-content {
  z-index: 10;
}
