<icon (click)="showSearchDialog()" src="search" />
<icon (click)="toggleViewType()" src="schedule" />
<ng-container *ngIf="mode$ | async as mode">
  <icon
    *ngIf="mode === 'table' || mode === 'table-expanded'"
    (click)="toggleExpand()"
    src="expand"
  />
</ng-container>
<icon (click)="toggleViewMode()" src="today" />
<ng-container *ngIf="schedule$ | async as schedule">
  <span
    >{{ schedule.info.type | translate }} &#x2022; {{ schedule.info.typeName | translate }}</span
  >
</ng-container>
