<div class="wrapper" *ngrxLet="schedule$ as schedule">
  <schdl-top-bar
    [minScale]="scheduleService.minYScale"
    [maxScale]="scheduleService.maxYScale"
    [preferredMaxScale]="scheduleService.preferredMaxYSScale"
    (rangeSelect)="rangeSelect($event, schedule)"
    (editMode)="isEditMode = $event"
    (timeViewMode)="changeTimeMode($event)"
    (scale)="scheduleService.scaleY = $event"
    (generalViewMode)="changeViewMode($event)" />
  <hr>
  <main *ngIf="schedule">
    <app-edit-schedule *ngIf="isEditMode" [schedule]="schedule" (makeGeneral)="makeGeneral()" />
    <app-base-schedule [schedule]="schedule" [isEditMode]="isEditMode" />
  </main>
</div>

