@import 'apps/studyum/src/styles';

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

main {
  display: flex;
  min-height: 350px;
}

app-schedule-top-bar {
  margin: 0 20px 0 20px;
}

app-base-schedule {
  width: 0;
  overflow: scroll;
  display: flex;

  flex-grow: 1;

  justify-content: flex-start;

  white-space: nowrap;
}

app-schedule-bottom-controller {
  margin-bottom: 10px;
}
