<main>
  <h2 [innerText]="'user.email.confirm' | translate"></h2>
  <app-glassmorphism-frame
    [color]="'rgba(255,255,255,0.2)'"
    [topColor]="'rgb(232,125,138)'"
    [bottomColor]="'rgb(165,217,255)'">

    <p [innerText]="'user.email.confirmText' | translate"></p>
    <hr>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-floating top-group">
        <app-symbol-input id="code" amount="6" formControlName="code"></app-symbol-input>
      </div>

      <div class="input-group bottom-group">
        <button type="submit" class="btn btn-outline-light"
                [disabled]="!form.valid">{{'user.login.continue' | translate}}</button>
      </div>
    </form>
  </app-glassmorphism-frame>
  <button type="button" class="btn resend-btn" (click)="resendCode()">Resend code</button>
</main>
