<ng-container *ngIf="journal$ | async as journals">
  <app-base-journal-top-action-bar></app-base-journal-top-action-bar>
  <div class="wrapper">
    <app-base-journal
      *ngFor="let journal of journals; let i = index"
      [style.z-index]="journals.length - i"
      [journal]="journal"
      [showAmount]="isAmountSelected"
    ></app-base-journal>
  </div>
  <app-journal-bottom-action-bar
    [journal]="journals[0]"
    [isShowAmount]="isAmountSelected"
    (toggleAmount)="isAmountSelected = !isAmountSelected"
  ></app-journal-bottom-action-bar>
</ng-container>
