@use '../../../../styles';

:host {
  display: flex;
  flex-flow: column;
}

app-dialog-frame {
  position: absolute;

  z-index: 1;
}

.wrapper {
  position: relative;

  flex-grow: 1;
  overflow: scroll;
}

.bottom-bar {
  display: flex;
  gap: 10px;

  margin-bottom: 10px;
  margin-left: 10px;

  :last-child {
    margin-left: 15px;
  }
}
