<ng-container *ngIf='journal$ | async as journal'>
  <div class='wrapper'>
    <app-base-journal
      [journal]='journal'
      (cellClick)='cellClick($event)'
    ></app-base-journal>
    <app-select-mark
      *ngIf='selectedCell && !isCtrlPressed && !isShiftPressed'
      [lesson]='selectedCell.data[0].lesson'
      [userId]='selectedCell.data[0].studentID'
      [marks]='getMarks(journal, selectedCell.data[0].lesson)'
      (close)='selectedCell = undefined'
      [ngStyle]="{'top.px': selectedCell.y + 62, 'left.px': selectedCell.x}"
      (markAdd)='markAdd($event)'
      (markEdit)='markEdit($event)'
      (markDelete)='markDelete($event)'
    ></app-select-mark>
  </div>
  <div class='bottom-bar'>
    <button *ngFor='let lessonType of journal.info.studyPlace.lessonTypes'
            (click)='selectLessonType(journal, lessonType)'
            class='btn btn-outline-light'>
      {{ (selectedLessonType == lessonType.type)
      ? ('journal.view.back' | translate) : lessonType.type }}</button>
    <button class='btn btn-outline-light' (click)='getAbsentJournal()'>
      {{ (isAbsencesSelected) ? ('journal.view.back' | translate) : ('journal.view.absences' | translate) }}</button>
  </div>
</ng-container>
