@use '../../../../styles';

:host {
  display: flex;
  flex-flow: column;
}

app-dialog-frame {
  position: absolute;

  z-index: 1;
}

.wrapper {
  position: relative;

  flex-grow: 1;
  height: 0;

  overflow: scroll;

  display: grid;
  grid-column: 0;
  grid-template-columns: 1fr;
}

app-base-journal-top-action-bar {
  margin: 0 10px 15px;
}

app-journal-bottom-action-bar {
  overflow-x: scroll;

  margin: 0 10px 10px;
}
