<app-base-journal-collapser
  [cells]="row.cells"
  [active]="cellRef"
  [collapsed]="collapsedRef" />

<ng-template #cellRef let-cell="cell">
  <app-base-journal-column-cell
    *ngIf="showColumn(cell)"
    [cell]="cell" />
</ng-template>
<ng-template #collapsedRef let-cell="cell" let-click="click">
  <ng-container *ngIf="asCell(cell) as cell">
    <app-base-journal-cell
      [entries]="collapsedEntries(cell)"
      [color]="collapsedColor(cell)"
      (click)="click()"
    ></app-base-journal-cell>
  </ng-container>
</ng-template>


<section>
  <app-base-journal-cell
    *ngIf="mode == 'general'"
    [entries]="[average]"
    [color]="row.color">
  </app-base-journal-cell>
  <app-base-journal-cell
    *ngIf="mode == 'absences'"
    [entries]="[{text: row.absencesAmount.toString(), color: colors.general}]"
    [color]="row.color">
  </app-base-journal-cell>
  <app-base-journal-cell
    *ngIf="mode == 'absences'"
    [entries]="[{text: row.absencesTime.toString(), color: colors.general}]"
    [color]="row.color">
  </app-base-journal-cell>
  <ng-container *ngIf="mode != 'absences' && showAmount">
    <app-base-journal-cell
      *ngFor="let entry of availableMarks;"
      [entries]="[entry]"
      [color]="row.color">
    </app-base-journal-cell>
  </ng-container>
</section>
